# version: "3.8"

services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.5
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp=1
      - --memory=1G
      - --reserve-memory=0M
      - --node-id=0
      - --check=false
      - --kafka-addr=PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr=PLAINTEXT://redpanda:9092

    ports:
      - "9092:9092"
      - "9644:9644"
    environment:
      - REDPANDA_AUTO_CREATE_TOPICS=true

  clickhouse:
    image: clickhouse/clickhouse-server:23.8
    container_name: clickhouse
    ports:
      - "8123:8123"   
      - "9000:9000"   
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ./clickhouse/init:/docker-entrypoint-initdb.d
      - clickhouse_data:/var/lib/clickhouse
    depends_on:
      - redpanda

  producer:
    build: ./producer
    depends_on:
      - redpanda
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
      - KAFKA_TOPIC=transactions
      - CSV_PATH=/data/train.csv
    volumes:
      - ./data:/data

volumes:
  clickhouse_data:
